* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
}

.accordion {
  width: 400px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.acc-item {
  border-top: 1px solid #fff;
  overflow: hidden;
}

.btn {
  display: block;
  padding: 1rem 1.2rem;
  background: #1e47ce;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.btn:before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #1e47ce;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}

.btn i {
  margin-right: 0.5rem;
}

.submenu {
  background: #333;
  overflow: hidden;
 /* transition: max-height 0.4s;
  max-height: 0;*/
}

.submenu a{
  display: block;
  padding: 1rem 1.5rem;
  color: #fff;
  font-size: .9rem;
  margin: 0.2rem 0;
  position: relative;
}

.submenu a:before {
  content: '';
  position: absolute;
  width: .3rem;
  height: 100%;
  background: #1e47ce;
  left: 0;
  top: 0;
  transition: .4s;
  opacity: 0;
}

.submenu a:hover:before {
  opacity: 1;
}

.acc-item:target .submenu {
  max-height: 10rem;
}

